body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 1.6;
	background-color: chartreuse;
}

.btn {
	background: coral;
	padding: 1em 2em;
	color: #fff;
	border: 0;
}

.blue {
	background-color: rgba(0, 0, 128, 1);
}
.btn:hover {
	background: #333;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	background-color: #f4f4f4;
	margin: 20% auto;
	padding: 20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}

.close-btn {
	color: #ccc;
	float: right;
	font-size: 30px;
}

.close-btn:hover,
.close-btn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* Windows Modal */

.tileBar {
	color: white;
	padding-left: 5px;
}

.win-modal-content {
	background: #c0c0c0;
	font-family: "MS Sans Serif";
	font-size: 16px;
	margin: 20% auto;
	padding: 2px;
	width: 40%;

	border: outset 2px;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 7px 20px 0 rgba(0, 0, 0, 0.4);
}

.tilebar-closeBtn {
	color: #000;
	background-color: #c0c0c0;
	margin: 4px;
	float: right;
	width: 15px;
	height: 15px;
	line-height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: outset 2px;
}

#modal-body {
	margin-top: 3px;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* background-color: aqua; */
}

#modal-body-text {
	/* background-color: red; */
	padding: 5px;
	margin: 10px;
}

#modal-closeBtn-bottom {
	width: fit-content;
	margin-bottom: 3px;
	border: outset 2px;
}

/* Emmitter code */
.icon_pulse {
	background: hsl(248, 76%, 60%);
	box-shadow: 0 0 2px 2px hsla(248, 100%, 64%, 0.6);

	animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 0px 0px hsla(248, 100%, 64%, 0.6);
	}
	to {
		box-shadow: 0 0 6px 4px hsla(248, 100%, 64%, 0.6);
	}
}
